extends layout

block content
  script(type="text/javascript" src="/javascripts/app/testingPrototypes.js")
  h1= title
  p Welcome to #{title}
    if user
      | , #{user.username}
  p
  if user
    span.pad-right-sm
      a(href="/logout") Logout
    if (user.admin)
        span.pad-right-sm
          a(href="/plants/add") Add Plant
  else
    span.pad-right-sm
      a(href="/register") Register
    span.pad-right-sm
      a(href="/login") Login
  span.pad-right-sm
    a(href="/plants/random") Random Plant
  p
    h3 Common name (Genus species)
  ul
    each plant in plants
      li
        b #{plant.commonName}
        | &nbsp;
        span (#{plant.genus} #{plant.species})
